<!DOCTYPE html>
<html>
<head>
    <title>All Feedback</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type of Contact</th>
        <th>Feedback Description</th>
        <th>Type</th>
        <th>Action</th>
        <th>Date</th>
        <th>Details</th>
        <th>Status</th>
    </tr>
    </thead>
    <tfoot>
    %from model import FEEDBACK_TYPE,status_profile,status
    %import datetime
    %for camp in items:
    %for prof in camp.profiles:
    %for x in prof.feedbacks:
    <tr>
        <td>{{x.profile.name}}</td>
        <td>{{status_profile[x.profile.profile_type]}}</td>
        <td>{{x.desc}}</td>
        <td>{{FEEDBACK_TYPE[x.type]}}</td>
        <td>{{x.action}}</td>
        <td>{{datetime.datetime.fromtimestamp(x.ts)}}</td>
        <td>details</td>
        <td>{{status[x.status]}}</td>
        <td><a href="/campaigns/contacts/{{x.profile.id}}/feedbacks/{{x.id}}">Edit</a> &nbsp; </td>
    </tr>
    %end
    %end
    %end
    </tfoot>
</table><br/><br/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script> $("input:submit, a, button,input:reset").button();</script>
</body>
</html>