<!DOCTYPE html>
<html>
<head>
    <title>welcome</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>

</head>
%import datetime
<body>
%include common_menu
<b></b><p style="color:red">{{profile.problem}}</p>
<p style="color:green">{{sess['msg'] if 'msg' in sess and not sess['msg-old'] else ""}}</p><b/>
% sess['msg-old'] = True

<div id="placeholder" style="width:700px;height:300px;"></div>
<p id="choices">Show:</p>
<script type="text/javascript">
    $(function () {
 
var datasets = {

}
  %for x in items:

   $.ajax({
    type: 'GET',
    url: '/campaigns/{{x.id}}/timeline',
    dataType: 'json',
    success: function(data) { datasets['{{x.desc}}'] = data; },
    data: {},
    async: false
});

        %end

    
    var i = 0;
    $.each(datasets, function(key, val) {
        val.color = i;
        ++i;
    });

    // insert checkboxes
    var choiceContainer = $("#choices");
    $.each(datasets, function(key, val) {
        choiceContainer.append('<br/><input type="checkbox" name="' + key +
                               '" checked="checked" id="id' + key + '">' +
                               '<label for="id' + key + '">'
                                + val.label + '</label>');
    });
    choiceContainer.find("input").click(plotAccordingToChoices);


    function plotAccordingToChoices() {
        var data = [];

        choiceContainer.find("input:checked").each(function () {
            var key = $(this).attr("name");
            if (key && datasets[key])
                data.push(datasets[key]);
        });

        if (data.length > 0)
            $.plot($("#placeholder"), data, {
                xaxis: { mode: "time",autoscaleMargin:0.02 },
                grid: { hoverable: true, clickable: true },
                legend: {
                    position: "nw",
                    backgroundOpacity: 0.5

                  },
                series: {
      lines: { show: false },
      points: { show: true }
    }

            });
    }

    plotAccordingToChoices();
});
</script>


<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Income</th>
        <th>Expense</th>
        <th>Return on Investment</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Status</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tfoot>
    %for x in items:
    % import json
    %from model import status
    % uattrs = json.loads(x.attrs)
    <tr>
        <td>{{x.desc}}</td>
        <td>{{x.incomes}}</td>
        <td>{{x.outgo}}</td>
        <td>{{x.roi}}</td>
        <td>{{datetime.datetime.fromtimestamp(x.startTs/1000)}}</td>
        <td>{{datetime.datetime.fromtimestamp(x.endTs/1000)}}</td>
        <td>{{x.campaign_desc}}</td>
        <td>{{status[x.status]}}</td>
        <td>{{x.notes}}</td>
        <td>{{x.attrs}}</td>
        <td><a href="{{'/campaigns/'+str(x.id)}}">Edit</a></td>
        <td><a class="delete" href="{{'/campaigns/'+str(x.id)+'/destroy'}}">Delete</a></td>
    </tr>
    %end
    </tfoot>
</table>
<a href="/campaigns/new">Create New Campaign</a> &nbsp; <a href="/campaigns/contacts/new">Create New Contacts</a> &nbsp; <a href="/campaigns/contacts/new?type=owner">Create New User</a> &nbsp;
%if not isoauth:
<a href="/campaigns/g/start_oauth">Sync With Gmail</a> &nbsp;
%end
% if not istoauth:
<a href="/campaigns/t/start_oauth">Sync With Twitter</a> &nbsp;
%end
<a href="/campaigns/logout">Logout</a>
<script> $("input:submit, a, button,input:reset").button();
function show_confirm(obj) {
    var r = confirm("Are you sure you want to delete?");
    if (r == true)
        window.location = obj.attr('href');
}
$('.delete').click(function(event) {
    event.preventDefault();
    show_confirm($(this));

});

</script>
</body>
</html>