<!DOCTYPE html>
<html>
<head>
    <title>All chat</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
<table border="1">
    <thead>
    <tr>
        <th>Contact</th>
        <th>Time</th>
        <th>Type of Correspondence</th>
        <th>Content</th>
    </tr>
    </thead>
    <tfoot>
    %from model import chat_type,CHAT_EMAIL,CHAT_SOCIALMEDIA
    %import datetime
    %chatts = [x for x in items.chats if x.type not in [CHAT_EMAIL,CHAT_SOCIALMEDIA]]
    %for x in items.chatts:
    <tr>
        <td>{{x.profile.name}}</td>
        <td>{{datetime.datetime.fromtimestamp(x.ts)}}</td>
        <td>{{chat_type[x.type]}}</td>
        <td>{{x.content}}</td>
        <td><a href="/campaigns/contacts/{{x.profile.id}}/chats/{{x.id}}">Edit</a> &nbsp;&nbsp; <a
                href="/campaigns/contacts/{{x.profile.id}}/chats/{{x.id}}/reply">{{len(x.replies)}} Replies</a> </td>
    </tr>
    %end
    </tfoot>
</table><br/><br/>
<a href="/campaigns/contacts/{{cid}}/chats/new">New chat</a>
<h3>Emails</h3>
<table border="1">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Time</th>
        <th>Message</th>
        <th>Details & Replies</th>
    </tr>
    </thead>
    <tfoot>
    %from model import chat_type,CHAT_EMAIL,CHAT_SOCIALMEDIA
    %import datetime
    %chattts = [x for x in items.chats if x.type in [CHAT_EMAIL,CHAT_SOCIALMEDIA] and x.parent_chat is None]
    %for x in items.chattts:
    <tr>
        <td>{{x.subject}}</td>
        <td>{{datetime.datetime.fromtimestamp(x.ts)}}</td>
        <td>{{x.content}}</td>
        <td><a href="/campaigns/contacts/{{x.profile.id}}/chats/{{x.id}}">Go</a></td>
    </tr>
    %end
    </tfoot>
</table><br/><br/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script> $("input:submit, a, button,input:reset").button();</script>
</body>
</html>