<!DOCTYPE html>
<html>
<head>
    <title>Add chat</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
<form id='cform' action="/campaigns/contacts/{{profile_id}}/chats" method="POST">
    <label for="type"/>Type: </label> <select id="type" name="type">
    %for x in chat_type:
    <option value="{{chat_type.index(x)}}">{{x}}</option>
    %end
</select><br/><br/>
    <textarea name="content" placeholder="Details about the Correspondence" rows="6" cols="50"/></textarea><br/>
    <input type='submit' value="Create Chat"/> <input type="reset" value="Clear"/>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script> $( "input:submit, a, button,input:reset").button();</script>
</body>
</html>