<!DOCTYPE html>
<html>
<head>
    <title>Add chat</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
%import datetime

%for tweet in items:
<h4>{{tweet.mentioner}}'s message to {{tweet.mentioned}} on {{datetime.datetime.fromtimestamp(tweet.ts)}}</h4>
<p>Type : "Tweet"</p>
<p>Message : {{tweet.text}}</p>
<br/><br/>
<hr>
%end

<hr/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script> $("input:submit, a, button,input:reset").button();</script>

</body>
</html>