<!DOCTYPE html>
<html>
<head>
    <title>Add chat</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
%from model import chat_type, CHAT_EMAIL
%import datetime
%keys = chats.keys()
%keys.sort(reverse=True)
%for cid in keys:

%i= 0
%for chat in chats[cid]:
%if i >0:
<div style="margin-left:{{i*2}}%;"><h4>{{chat.profile.name}}'s message on {{datetime.datetime.fromtimestamp(chat.ts)}}</h4>
<p>Type : {{"Email" if chat.type == CHAT_EMAIL else "Social Media"}}</p>
<p>Name : {{chat.profile.name}}</p>
<p>Subject : {{chat.subject}}</p>
<p>Message : {{chat.content.split("> ")[0]}}</p>
<br/></div>
%else:
<div><h4>{{chat.profile.name}}'s message on {{datetime.datetime.fromtimestamp(chat.ts)}}</h4>
<p>Type : {{"Email" if chat.type == CHAT_EMAIL else "Social Media"}}</p>
<p>Name : {{chat.profile.name}}</p>
<p>Subject : {{chat.subject}}</p>
<p>Message : {{chat.content.split("> ")[0]}}</p>
<br/></div>
%end
%i+=1

%end
<hr>
%end

<hr/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script> $("input:submit, a, button,input:reset").button();</script>

</body>
</html>