<!DOCTYPE html>
<html>
<head>
    <title>Add Feedback</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/campaigns/css/base.css"/>
</head>
<body>
%include common_menu
<form id='cform' action="/campaigns/contacts/{{profile_id}}/feedbacks/{{item.id}}" method="POST">

    <label for="type"/>Type: </label> <select id="type" name="type" >
    <option value="{{item.type}}">{{feedback_type[item.type]}}</option>
    %for x in feedback_type:
    %if feedback_type.index(x) != item.type:
    <option value="{{feedback_type.index(x)}}">{{x}}</option>
    %end
    %end
</select><br/><br/><label for="status"/>Status: </label> <select id="status" name="status" >
     <option value="{{item.type}}">{{status_type[item.status]}}</option>
    %for x in status_type:
    %if status_type.index(x) != item.status:
    <option value="{{status_type.index(x)}}">{{x}}</option>
    %end
    %end
</select><br/><br/>
    <label for="action"/>Action: </label> <input type="text" id="action" name="action" required placeholder="Action to Take" value="{{item.action}}"/><br/><br/>
    <style>
label textarea{
 vertical-align: top;
}
</style>
    <label for="desc">Description: <textarea id="desc" name="desc" placeholder="Details about the Feedback" rows="6" cols="50" required/>{{item.desc}}</textarea></label> <br/>
    <input type='submit' value="Create Feedback"/> <input type="reset" value="Clear"/>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script> $("input:submit, a, button,input:reset").button();</script>
</body>
</html>